@use './breakpoints' as *;

.container {
  width: 100%;
  max-width: 346px;
  padding: 0 16px;
  margin: 0 auto;

  @media (min-width: $breakpoints-m) {
    max-width: 696px;
    padding: 0 36px;
  }
  @media (min-width: $breakpoints-l) {
    max-width: 936px;
    padding: 0 36px;
  }
  @media (min-width: $breakpoints-xl) {
    max-width: 1440px;
    padding: 0 96px;
  }
  @media (min-width: $breakpoints-xxl) {
    max-width: 1920px;
    padding: 0 96px;
  }
}
